body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: #ffffff;
}

.hidden {
  display: none;
}

#splash {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#splash img {
  width: 120px;
  margin-bottom: 15px;
}

#app {
  max-width: 420px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #00ff99;
}

label {
  margin-top: 10px;
  display: block;
}

select, button {
  width: 100%;
  padding: 14px;
  margin-top: 8px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

select {
  background: #1e1e1e;
  color: #ffffff;
}

button {
  background: #00ff99;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
}

#resultado {
  margin-top: 20px;
  background: #1e1e1e;
  padding: 15px;
  border-radius: 10px;
}
